@*@model BackpackingBudget.Models.ViewModels.TotalBudgetViewModel

<h2>@Model.Budget.Name</h2>

<h4>@Model.Budget.StartDate - @Model.Budget.EndDate</h4>

<div>Total Budget: $@Model.Budget.BudgetAmount </div>
<div>Total Spent: $@Model.AmountSpent </div>
<div>Amount Remaining: $@Model.AmountRemaining() </div>


@foreach (var bc in Model.CategoryViewModels)
{
    <div>@bc.BudgetCategory.Name </div>
    <div>Budget Per Day: $@bc.BudgetCategory.BudgetPerDay </div>
    <div>Total Spent: $@bc.TotalSpent </div>
    <div>Total Estimated: $@bc.TotalEstimated() </div>
    <div>Average per day spent: $@bc.AveragePerDay() </div>
    <div>Average remaining per day: $@bc.AveragePerDayRemaining() </div>
}*@