@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="sidebar-item">
        <span class="e-icons profile"></span>
        <span class="e-text" title="profile"><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></span>
    </li>
    <li class="sidebar-item">
       <span class="e-icons logout"></span><span class="e-text" title="logout">
        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a></span>

    </li>
}
else
{
<li class="sidebar-item">
    <span class="e-icons register"></span>
    <span class="e-text" title="info"><a asp-area="Identity" asp-page="/Account/Register">Register</a></span>
</li>
<li class="sidebar-item">
    <span class="e-icons profile"></span>
    <span class="e-text" title="profile"><a asp-area="Identity" asp-page="/Account/Login">Login</a></span>
</li>
}
