@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="sidebar-item">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="e-icons profile"></span></a>
        <span class="e-text" title="profile"><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></span>
    </li>
    <li class="sidebar-item">
        <span class="e-icons logout"></span>
        <span class="e-text" title="logout">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="lookLikeLink" type="submit">Logout</button>
            </form>
        </span>
    </li>
}
else
{
<li class="sidebar-item">
    <a asp-area="Identity" asp-page="/Account/Register"><span class="e-icons register"></span></a>
    <span class="e-text" title="info"><a asp-area="Identity" asp-page="/Account/Register">Register</a></span>
</li>
<li class="sidebar-item">
    <a asp-area="Identity" asp-page="/Account/Login"><span class="e-icons profile"></span></a>
    <span class="e-text" title="profile"><a asp-area="Identity" asp-page="/Account/Login">Login</a></span>
</li>
}
