@using Microsoft.AspNetCore.Identity
@using Syncfusion.EJ2
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model BackpackingBudget.Models.Budget

@{
    ViewData["Title"] = "Index";
}
<h4>Budget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetAmount" class="control-label"></label>
                <input asp-for="BudgetAmount" class="form-control" />
                <span asp-validation-for="BudgetAmount" class="text-danger"></span>
            </div>

            <div class="control-section">
                <div class="control-wrapper">
                    <div style="padding-top:15px; padding-bottom: 15px;">
                        <ejs-multiselect id="categories" placeholder="Select Categories for your budget" dataSource="@ViewBag.data" allowCustomValue="true" mode="Box">
                            <e-multiselect-fields></e-multiselect-fields>
                        </ejs-multiselect>
                    </div>
                </div>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<input class="span4" data-val="true" data-val-number="The field BudgetPerDay must be a number."
       data-val-required="The BudgetPerDay field is required." id="categories_0__BudgetPerDay"
       min="0" name="categories[0].BudgetPerDay" type="number" value="4.0000">
@Html.TextBoxFor(m => categories[i].BudgetPerDay, new { @type = "number", @class = "span4", @min = "0" })*@